lesson4/sourcecode.txt

[{"id":"8758bce0.14357","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3e06c2d2.e68c9e","type":"twitter-credentials","z":"","screen_name":"ocampossoto"},{"id":"3918dd75.29cfd2","type":"inject","z":"8758bce0.14357","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":80,"wires":[["c4b1b47d.9733b8","bc5e3f2.b1955c"]]},{"id":"4dd6ebfe.27c024","type":"debug","z":"8758bce0.14357","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":100,"wires":[]},{"id":"379b1b7b.561a34","type":"function","z":"8758bce0.14357","name":"Extract Weather Data","func":"\nvar weather_data = msg.payload;\n\nmsg.payload = weather_data.description;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["952b8fde.a2e"]]},{"id":"c4b1b47d.9733b8","type":"openweathermap","z":"8758bce0.14357","name":"","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":290,"y":60,"wires":[["3fcbc49f.cfc3fc"]]},{"id":"3e87b65a.c17a4a","type":"twitter out","z":"8758bce0.14357","twitter":"3e06c2d2.e68c9e","name":"Tweet","x":1130,"y":60,"wires":[]},{"id":"9076fe62.04e03","type":"e-mail","z":"8758bce0.14357","server":"smtp.gmail.com","port":"465","secure":true,"name":"ocampossoto1@gmail.com","dname":"","x":1200,"y":140,"wires":[]},{"id":"952b8fde.a2e","type":"join","z":"8758bce0.14357","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":100,"wires":[["57ac25eb.509cdc"]]},{"id":"b8e47316.33bf3","type":"function","z":"8758bce0.14357","name":"extract date","func":"var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["952b8fde.a2e"]]},{"id":"3fcbc49f.cfc3fc","type":"function","z":"8758bce0.14357","name":"Set topic","func":"msg.topic = \"weather\";\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["379b1b7b.561a34"]]},{"id":"bc5e3f2.b1955c","type":"function","z":"8758bce0.14357","name":"set topic ","func":"msg.topic =\"timestamp\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["b8e47316.33bf3"]]},{"id":"57ac25eb.509cdc","type":"function","z":"8758bce0.14357","name":"Format data","func":"var data = msg.payload;\n\nmsg.payload = \"This is an IoT Bot posting: \" +data.timestamp + data.weather;\nreturn msg;\n","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["4dd6ebfe.27c024","3e87b65a.c17a4a","9076fe62.04e03"]]}]
