Lesson6/source.txt
[{"id":"e4dbc789.6e1a58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18c81c8e.be8cf3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7e004148.bc4f3","type":"ui_group","z":"","name":"Default","tab":"18c81c8e.be8cf3","disp":true,"width":"12","collapse":true},{"id":"d88287b.577d778","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87cb54eb.e90df8","type":"ui_group","z":"","name":"Gauges","tab":"18c81c8e.be8cf3","disp":true,"width":"12","collapse":true},{"id":"587804a3.1f2aec","type":"ui_group","z":"","name":"Accelerometer","tab":"18c81c8e.be8cf3","disp":true,"width":"12","collapse":true},{"id":"356de797.d0dcf8","type":"sensorTag","z":"e4dbc789.6e1a58","name":"sensorTag","devices":["bc6a29ac9986"],"temperature":true,"humidity":true,"pressure":true,"magnetometer":false,"magnetometerPeriod":"","accelerometer":true,"accelerometerPeriod":"100","gyroscope":false,"gyroscopePeriod":"","luxometer":false,"luxometerPeriod":"","keys":false,"x":65,"y":327,"wires":[["2c942a67.f271d6"]]},{"id":"dade5ac.ab39aa8","type":"debug","z":"e4dbc789.6e1a58","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":556,"y":133,"wires":[]},{"id":"2c942a67.f271d6","type":"function","z":"e4dbc789.6e1a58","name":"Extract_JSONData","func":"sensor_data = msg.payload.json_data;\nmsg.payload = sensor_data;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":252,"y":327,"wires":[["c79e4be2.e64878","dbb55d93.e68cc","d2d40d5f.4126c","ba60abc5.9ea308","6d3d0ebf.82481","553fad0.ec5d254"]]},{"id":"37fd31fe.5a734e","type":"ui_chart","z":"e4dbc789.6e1a58","name":"","group":"7e004148.bc4f3","order":0,"width":"12","height":"3","label":"Tempreture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":815,"y":203,"wires":[[],[]]},{"id":"c79e4be2.e64878","type":"function","z":"e4dbc789.6e1a58","name":"Extract_Temp","func":"if(msg.sensor == \"temperature\"){\n    //sensor_data = msg.payload.json_data;\n    msg.payload = msg.payload.ambient;\nreturn msg;\n}","outputs":1,"noerr":0,"x":619,"y":202,"wires":[["37fd31fe.5a734e"]]},{"id":"72715ab9.db39d4","type":"ui_gauge","z":"e4dbc789.6e1a58","name":"","group":"7e004148.bc4f3","order":0,"width":"12","height":"3","gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"4500","x":822,"y":313,"wires":[]},{"id":"dbb55d93.e68cc","type":"function","z":"e4dbc789.6e1a58","name":"Extract_Pressure","func":"if(msg.sensor == \"pressure\"){\n    //sensor_data = msg.payload.json_data;\n    msg.payload = Math.round(msg.payload.pressure);\nreturn msg;\n}","outputs":1,"noerr":0,"x":630,"y":313,"wires":[["72715ab9.db39d4"]]},{"id":"fcfde588.8a9b88","type":"ui_chart","z":"e4dbc789.6e1a58","name":"","group":"7e004148.bc4f3","order":0,"width":"12","height":"3","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":257,"wires":[[],[]]},{"id":"d2d40d5f.4126c","type":"function","z":"e4dbc789.6e1a58","name":"Extract_Hum","func":"if(msg.sensor == \"humidity\"){\n    msg.payload = msg.payload.humidity;\nreturn msg;\n}","outputs":1,"noerr":0,"x":610,"y":257,"wires":[["fcfde588.8a9b88"]]},{"id":"ba60abc5.9ea308","type":"function","z":"e4dbc789.6e1a58","name":"Extract_ACC-X","func":"if(msg.sensor == \"accelerometer\"){\n    //sensor_data = msg.payload.json_data;\n    msg.payload = msg.payload.x;\nreturn msg;\n}","outputs":1,"noerr":0,"x":622,"y":388,"wires":[["86ec23cc.cce1d"]]},{"id":"553fad0.ec5d254","type":"function","z":"e4dbc789.6e1a58","name":"Extract_ACC-Y","func":"if(msg.sensor == \"accelerometer\"){\n    //sensor_data = msg.payload.json_data;\n    msg.payload = msg.payload.y;\nreturn msg;\n}","outputs":1,"noerr":0,"x":639,"y":459,"wires":[["7e443048.7264"]]},{"id":"6d3d0ebf.82481","type":"function","z":"e4dbc789.6e1a58","name":"Extract_ACC-Z","func":"if(msg.sensor == \"accelerometer\"){\n    //sensor_data = msg.payload.json_data;\n    msg.payload = msg.payload.z;\nreturn msg;\n}","outputs":1,"noerr":0,"x":640,"y":506,"wires":[["90fc8534.8928e8"]]},{"id":"86ec23cc.cce1d","type":"ui_chart","z":"e4dbc789.6e1a58","name":"","group":"587804a3.1f2aec","order":0,"width":"12","height":"3","label":"X Axis","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":845,"y":388,"wires":[[],[]]},{"id":"7e443048.7264","type":"ui_chart","z":"e4dbc789.6e1a58","name":"","group":"587804a3.1f2aec","order":0,"width":"12","height":"3","label":"Y Axis","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":826,"y":460,"wires":[[],[]]},{"id":"90fc8534.8928e8","type":"ui_chart","z":"e4dbc789.6e1a58","name":"","group":"587804a3.1f2aec","order":0,"width":"12","height":"3","label":"Z Axis","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":803,"y":518,"wires":[[],[]]}]
